<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.myHealth"
        tools:targetApi="31" >
        <activity
            android:name=".clinic_view_patients_manage_meds"
            android:exported="false" />

        <service
            android:name=".NotificationService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".patient_view_prescribed_med"
            android:exported="false" />
        <activity
            android:name=".first_time_clinic_sign_up_survey"
            android:exported="false" />
        <activity
            android:name=".clinic_prescription_form"
            android:exported="false" />
        <activity
            android:name=".clinic_view_prescriptions"
            android:exported="false" />
        <activity
            android:name=".clinic_view_med_hist"
            android:exported="false" />
        <activity
            android:name=".resources_page_clinic"
            android:exported="false" />
        <activity
            android:name=".profile_page_clinic"
            android:exported="false" />
        <activity
            android:name=".medical_records_page_clinic"
            android:exported="false" />
        <activity
            android:name=".appointments_page_clinic"
            android:exported="false" />
        <activity
            android:name=".pick_appointment_time"
            android:exported="false" />
        <activity
            android:name=".clinic_home_page"
            android:exported="false" />
        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".patient_view_search_centers_visit"
            android:exported="false" />
        <activity
            android:name=".patient_view_dietary_plan"
            android:exported="false" />
        <activity
            android:name=".patient_view_med_history"
            android:exported="false" />
        <activity
            android:name=".first_time_sign_up_diet_survey"
            android:exported="false" />
        <activity
            android:name=".medical_records_page"
            android:exported="false" />
        <activity
            android:name=".patient_diet_page"
            android:exported="false" />
        <activity
            android:name=".appointments_page"
            android:exported="false" />
        <activity
            android:name=".profile_page"
            android:exported="false" />
        <activity
            android:name=".home_page"
            android:exported="false" />
        <activity
            android:name=".first_time_medical_survey_page"
            android:exported="false" />
        <activity
            android:name=".first_time_recurring_clinics"
            android:exported="false" />
        <activity
            android:name="first_time_recurring_appointments"
            android:exported="false" />
        <activity
            android:name="pick_recurring_appointment_time"
            android:exported="false" />
        <activity
            android:name=".clinic_sign_up"
            android:exported="false" />
        <activity
            android:name=".choose_account_type_page"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="false" />
        <activity
            android:name=".sign_up_activity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>