<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.myHealth"
        tools:targetApi="31">
        <activity
            android:name=".main_login_page_clinic"
            android:exported="false" />
        <activity
            android:name=".account_type_login_checker"
            android:exported="false" />
        <activity
            android:name=".clinic_view_chosen_patient_medical_history"
            android:exported="false" />
        <activity
            android:name=".clinic_view_select_patient_to_manage_meds"
            android:exported="false" />
        <activity
            android:name=".patient_edit_my_profile"
            android:exported="false" />
        <activity
            android:name=".clinic_view_patients_medical_records"
            android:exported="false" />
        <activity
            android:name=".patient_view_appointment_history"
            android:exported="false" />
        <activity
            android:name=".clinic_prescribe_meds_manage"
            android:exported="false" />
        <activity
            android:name=".clinic_medication_actions"
            android:exported="false" />
        <activity
            android:name=".test_design_diet_diary"
            android:exported="false" />
        <activity
            android:name=".patients_view_food_favorites_page"
            android:exported="false" />
        <activity
            android:name=".patient_view_food_charts_page"
            android:exported="false" />
        <activity
            android:name=".patient_add_food_page"
            android:exported="false" />
        <activity
            android:name=".clinic_prescribed_meds_page"
            android:exported="false" />
        <activity
            android:name=".clinic_manage_meds_page"
            android:exported="false" />

        <service
            android:name=".NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".patient_prescribed_med_page"
            android:exported="false" />
        <activity
            android:name=".clinic_first_time_hours_page"
            android:exported="false" />
        <activity
            android:name=".clinic_prescription_form"
            android:exported="false" />
        <activity
            android:name=".clinic_prescriptions_page"
            android:exported="false" />
        <activity
            android:name=".clinic_view_med_prescription"
            android:exported="false" />
        <activity
            android:name=".resources_page_clinic"
            android:exported="false" />
        <activity
            android:name=".clinic_profile_page"
            android:exported="false" />
        <activity
            android:name=".clinic_medical_records_page"
            android:exported="false" />
        <activity
            android:name=".clinic_appointments_page"
            android:exported="false" />
        <activity
            android:name=".pick_appointment_time"
            android:exported="false" />
        <activity
            android:name=".clinic_home_page"
            android:exported="false" />
        <activity
            android:name=".clinic_edit_my_profile"
            android:exported="false" />
        <activity
            android:name=".empty_resourcesPage"
            android:exported="false" />
        <activity
            android:name=".patient_search_centers_visit_page"
            android:exported="false" />
        <activity
            android:name=".patient_dietary_plan_page"
            android:exported="false" />
        <activity
            android:name=".patient_medical_history_page"
            android:exported="false" />
        <activity
            android:name=".patient_first_time_time_diet_survey_page"
            android:exported="false" />
        <activity
            android:name=".patient_medical_records_page"
            android:exported="false" />
        <activity
            android:name=".patient_nutrition_page"
            android:exported="false" />
        <activity
            android:name=".patient_appointments_view"
            android:exported="false" />
        <activity
            android:name=".patient_profile_page"
            android:exported="false" />
        <activity
            android:name=".patient_home_page"
            android:exported="false" />
        <activity
            android:name=".patient_first_time_medical_survey_page"
            android:exported="false" />
        <activity
            android:name=".patient_first_time_recurring_clinics"
            android:exported="false" />
        <activity
            android:name=".patient_first_time_recurring_appointments_page"
            android:exported="false" />
        <activity
            android:name=".pick_recurring_appointment_time"
            android:exported="false" />
        <activity
            android:name=".clinic_sign_up_page"
            android:exported="false" />
        <activity
            android:name=".unused_main_choose_account_type"
            android:exported="false" />
        <activity
            android:name=".main_login_page"
            android:exported="false" />
        <activity
            android:name=".sign_up_activity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>